.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.logo-img {
    width: 100px;
    height: 100px;
}