.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    width: 200px;
    /* border: 1px solid black; */
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}